<div class="ban">
    
<div class="tp">
    <div class="lft">
        <h1>{{state.title}}</h1>
        <p>{{state.year}}</p>
    </div>
    <div class="rgt">
        <div class="rat">
            <p>IMDB RATING</p>
            <p>{{state.imdb_rating}}</p>
        </div>
        <div class="grat">
            <p>Global Ranking</p>
            <p>{{state.rank}}</p>
        </div>
    </div>
</div>
<div class="mid">
<div class="ib">
    <img src="http://localhost/movies/{{state.image}}">
</div>
<div class="desc">
    <h1>Description</h1>
    <p>{{state.description}}</p>
    <h1>People</h1>
    <p>Staring:{{state.cast}}</p>
    <p>Director:{{state.directors}}</p>
    <p>Writer:{{state.writers}}</p>
</div>
</div>
</div>