<mat-toolbar>
    <a class="hero"  (click)="navigate('')">REEL REVIEW</a>
    <span class="example-spacer"></span>
    <!--  -->
    
    <!--  -->
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <a class="nav-link" href="/login" (click)="logout()">LOGOUT </a>
    <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button> -->
  </mat-toolbar>