.example-spacer {
    flex: 1 1 auto;
  }
a{
    margin: 0 .2rem;
    text-decoration: none;
    color: white;
    /* background-color: grey; */
    transition: .2s;
    cursor: pointer;
}

.hero{
  background:none;
  color: black;
  cursor: pointer;
}

#nv{
  display: flex;
  justify-content: space-between;
  padding: .5rem 5rem;
}



/* ------ */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700,800');
@import url('https://fonts.googleapis.com/css?family=Lobster');
html {
  font-size: 62.5%;
}
* {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
}


.navbar .navbar-brand {
  font-family: 'Lobster', cursive;
  font-size: 2.5rem;
}