<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container">
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <strong>Chat room </strong>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox chat-view">
                <div class="ibox-title">
                     Chat room panel
                </div>
                <div class="ibox-content" *ngIf="!newchat || isAdmin()">
                    <div class="row">
                        <div class="col-md-9 ">
                            <div class="chat-discussion">

                                <app-cbox *ngFor="let x of m.slice().reverse()" [message]="x"></app-cbox>
                                
                            </div>
                        </div>
                        <div class="col-md-3" *ngIf="isAdmin()">
                            <div class="chat-users">
                                <div class="users-list">
                                    <div class="chat-user" *ngFor="let u of chats">
                                        <img class="chat-avatar" src="http://localhost/users/{{getImg(u.username)}}" alt="">
                                        <div class="chat-user-name">
                                            <a (click)="un(u.id)" style="cursor: pointer;">{{u.username}}</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="chat-message-form">
                                <div class="form-group" id="sbb">
                                    <textarea class="form-control message-input"
                                    [(ngModel)]="mes" [ngModelOptions]="{standalone: true}"
                                     name="message" placeholder="Enter message text"></textarea>
                                    <button class="btn btn-dark" 
                                    (click)="onSub()" type="submit">Send▶</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="nc" *ngIf="newchat && !isAdmin()">
                    <h1>Start connect with Admin</h1>
                    <button (click)="onChat()" class="btn btn-dark">Connect Admin</button>
                </div>
            </div>
        </div>
    </div>
</div>
</div>