<!-- <div class="bx">
<div class="card text-white bg-secondary mb-3" style="width: 500px; min-height: 120px;">
    <div class="card-header"><h2>{{review.username}} Says...</h2></div>
    <div class="card-body">
      <p class="card-text">{{review.review}}</p>
    </div>
</div>
</div> -->
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="media">
  <a class="pull-left"><img class="media-object" src="http://localhost/users/{{getImg(review.username)}}" alt=""></a>
  <div class="media-body">
      <h4 class="media-heading">{{review.username}}</h4>
      <p>{{review.review}}</p>
      <ul class="list-unstyled list-inline media-detail pull-left">
          <li><i class="fa fa-calendar"></i>{{review.date}}</li>
      </ul>
      
  </div>
</div>