.cont{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
}

/*  */
.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    margin: 1rem;
  }
  
  .example-full-width {
    width: 100%;
  }
  
  .example-option-img {
    vertical-align: middle;
    margin-right: 8px;
  }
  
  [dir='rtl'] .example-option-img {
    margin-right: 0;
    margin-left: 8px;
  }
  .sr img{
    width: 20px;
    height: 20px;
  }
  .sb{
    display: flex;
    align-items: center;
  }
  .md{
    display: flex;
    align-items:center ;
    justify-content: space-between;
    padding: 0rem 1rem;
  }
  .ad button{
    padding: .5rem 1rem;
    margin-bottom: .9rem;
  }
